header {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between; /* Aligne les éléments sur les extrémités */
    align-items: center; /* Alignement vertical au centre */
    margin-bottom: 60px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Ombre portée */
    z-index: 1000;
  }

  .button{
    justify-content: space-between; /* Aligne les éléments sur les extrémités */
    display: flex;
    padding: 5px;
  }
 
  .avatar {
    width: auto; /* La largeur s'ajustera automatiquement à la longueur de la chaîne de caractères */
    height: 40px; /* Hauteur fixe */
    border-radius: 5px; /* Pour rendre les coins arrondis */
    background-color: #f0f0f0; /* Couleur de fond de l'avatar */
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 20px; /* Taille de la police */
    font-weight: bold; /* Gras pour le texte */
    color: #333; /* Couleur du texte */
    margin-right: 20px;  /* Marge à droite */
}


  .btn-deconnexion {
    margin-left: -10px !important; /* Marge à droite pour séparer le bouton de l'avatar */
  }
  

body {
    background: #6a11cb;
    margin-top: 60px;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }


    .modal-body {
        max-height: calc(100vh - 200px); /* 200px est la hauteur estimée de l'en-tête et du pied de page du modal */
        overflow-y: auto; /* Permet de définir un défilement vertical si le contenu dépasse la hauteur maximale */
    }

 /* Le bouton du select */

 select {
    -webkit-appearance: none;
    -noz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;

}

.select {
    margin: 10px;
    position: relative;
    overflow: hidden;
}

select { 
    color: #04157b;
    width: 10rem;
    cursor: pointer;
    padding: 8px;

}

.select::after{
    content: "\25BC";
    position: absolute;
    background: #757371;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}
.select:hover::after {
    background: white;
    color: #04157b;
}

.snackbar-class {
    z-index: 10000; /* Valeur élevée de z-index */
  }

.container{
    margin-top: 40px;
}

.lower-z-index {
    z-index: 1000; 
  }


  /* Style pour le message "Aucun contact trouvé" */
.no-contacts-message {
    margin-top: 10px; /* Espacement par rapport au tableau */
    padding: 10px; /* Remplissage pour un aspect plus agréable */
    background-color: #757371;; /* Couleur de fond  */
    color: white; /* Couleur de texte rouge foncé */
    border: 1px solid #757371;; /* Bordure rouge */
    border-radius: 5px; /* Coins arrondis */
}

/* Style pour le texte du message */
.no-contacts-message-text {
    font-style: italic; /* Texte en italique */
}


/* Style pour le header de mon modal */
.custom-modal-header {
    background-color: #f0f0f0; /* Changer la couleur de fond */
    border-bottom: 2px solid #ccc; /* Ajouter une bordure en bas */
    padding: 10px 20px; /* Ajouter un padding */
}

.custom-modal-title {
    color: #333; /* Changer la couleur du titre */
    font-weight: bold; /* Ajouter une épaisseur de police */
}

.custom-btn-close {
    color: #999; /* Changer la couleur de l'icône de fermeture */
    font-size: 24px; /* Changer la taille de l'icône de fermeture */
}
